/*
h3
{
	font-size: 225%;
	line-height: 125%;
}*/
#boutonAvant
{
	background-color: rgba(8, 8, 80, 0.3);
	padding: 12px;
	border-radius: 3px;
}

#boutonApres
{
	background-color: rgba(8, 8, 80, 0.3);
	border-radius: 3px;
	margin-left: auto;
	padding: 12px;
}

#boutonApres:hover, #boutonAvant:hover
{
	background-color: rgb(8, 8, 80);
}

#boutons
{
	display: flex;
	align-items: center;
	margin-top: 2%;
	margin-bottom: 2%;
	color: white;
	text-align: center;
}
